main {
  height: calc(100vh - 327px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: color-change-3x 10s linear infinite alternate both;
  background-color: #e9d1ce;
  overflow: hidden;
  border-bottom: 2px solid rgb(177, 79, 79);
}

.warrapMain {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sobre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 30px;
      animation: Slow 1.5s ease-in-out;
    }

    p {
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 30px;
      opacity: 0;
      transform: translateX(-500px);
      animation: Slow 1.5s ease-in-out forwards;
      animation-delay: 2s;
    }
    .warrapButtons {
      display: flex;
      gap: 15px;

      button {
        width: 160px;
        height: 50px;
        border-radius: 13px;
        border: none;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 26px;
        border: 1px solid black;
        opacity: 0;
        transform: translateX(-500px);
        animation: Slow 2s ease-in-out forwards;
        &:hover {
          cursor: pointer;
        }
      }
      button:nth-child(1) {
        background: var(--button-1);
        color: var(--font-1);
        animation-delay: 7s;
        &:hover {
          background: var(--font-1);
          color: var(--button-1);
          cursor: pointer;
        }
      }
      button:nth-child(2) {
        background: var(--button-2);
        color: var(--font-2);
        animation-delay: 6s;
        &:hover {
          background: var(--font-2);
          color: var(--button-2);
          cursor: pointer;
        }
      }
      button:nth-child(3) {
        background: var(--button-3);
        color: var(--font-3);
        animation-delay: 5s;
        &:hover {
          background: var(--font-3);
          color: var(--button-3);
          cursor: pointer;
        }
      }
      button:nth-child(4) {
        background: var(--button-4);
        color: var(--font-4);
        animation-delay: 4s;
        &:hover {
          background: var(--font-4);
          color: var(--button-4);
          cursor: pointer;
        }
      }
      button:nth-child(5) {
        background: var(--button-5);
        color: var(--font-5);
        animation-delay: 3s;
        &:hover {
          background: var(--font-5);
          color: var(--button-5);
          cursor: pointer;
        }
      }
    }
  }
  .warrapImage {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: SlowReverse 2s ease-in-out forwards;
    img {
      width: 300px;
      height: 380px;
      z-index: 1;
      border-radius: 50%;
    }
  }
  .warrapImage::before {
    content: "";
    width: 320px;
    height: 400px;
    background: linear-gradient(
      var(--color-1),
      var(--color-2),
      var(--color-3),
      var(--color-4),
      var(--color-5),
      var(--color-6),
      var(--color-7),
      var(--color-8)
    );
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid black;
  }
}
@keyframes font-color-3x {
  0% {
    color:var(--font-1);
  }
  50% {
    color:var(--font-2);
  }
  100% {
    color:var(--font-3);
  }
}
@keyframes color-change-3x {
  0% {
    background: var(--color-1);
  }
  50% {
    background: var(--color-2);
  }
  100% {
    background: var(--color-3);
  }
}
@keyframes Slow {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes SlowReverse {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 1200px) {
  .warrapMain {
    flex-direction: column-reverse;
    .sobre {
      width: 100%;
    }
  }
}
@media (max-width: 560px) {
  .warrapMain {
    .sobre {
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
      .warrapButtons {
        gap: 5px;
        button {
          width: 95px;
          height: 40px;
          font-size: 0.95rem;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .warrapMain {
    .sobre {
      .warrapButtons {
        display: inline-flex;
        flex-wrap: wrap;
        button {
          font-size: 0.8rem;
        }
      }
    }
  }
}
